  .rating-result span {
    padding: 0;
    font-size: 25px;
    margin: 0 3px;
    line-height: 1;
    color: rgb(88, 83, 83);
    text-shadow: 1px 1px #535252;
  }

  .rating-result > span:before {
    content: '★';
  }

  .rating-result > span.active {
    color: #c60;
    text-shadow: 1px 1px #c60;
  }